body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}

code {
  font-family: 'Times New Roman', Times, serif
}
